Repository open-syntax/ultimatexo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, client-tests, rust-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust Format (workspace)
        entry: bash -c 'cd server && cargo fmt --all'
        language: system
        pass_filenames: false
      - id: clippy
        name: Rust Clippy (workspace)
        entry: bash -c 'cd server && cargo clippy --workspace --all-targets --all-features -- -D warnings'
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Prettier (client)
        files: ^client/
        types_or: [javascript, jsx, ts, tsx, json, css, scss, html]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: pnpm-lock.yaml

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3016']
        name: Lint Dockerfiles

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check (client)
        entry: bash -c 'cd client && pnpm run type-check'
        language: system
        files: ^client/.*\.(ts|tsx)$
        pass_filenames: false
      - id: client-tests
        name: Run Client Tests
        entry: bash -c 'cd client && pnpm run test --run 2>/dev/null || echo "No tests configured"'
        language: system
        files: ^client/
        pass_filenames: false
        stages: [pre-push]
      - id: rust-tests
        name: Run Rust Tests
        entry: bash -c 'cd server && cargo test'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false
        stages: [pre-push]

default_stages: [pre-commit]
fail_fast: false

fix linting stuff
  client/.eslintignore
  client/.eslintrc.json
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/footer.tsx
  client/src/components/home-button.tsx
  client/src/components/navbar.tsx
  client/src/components/room/actions.tsx
  client/src/components/roomCard.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/hooks/useGame.ts
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/types/messages.ts
Due: typescript-check, client-tests

downgrade eslint
  client/package.json
  client/pnpm-lock.yaml
Due: client-tests

fix clippy
  .github/workflows/ci.yml
  server/crates/ai/src/lib.rs
Due: rust-tests

fix workflow
  .github/workflows/build.yml
  .github/workflows/cleanup.yml
Due: none

bump caddy image
  caddy/Dockerfile
Due: none

more board states for instructions
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/miniBoard.tsx
  client/src/data/board-states.json
  client/src/pages/instructions.tsx
Due: typescript-check, client-tests

remove opencode old plan
  .opencode/plans/cicd-rewrite.md
Due: none

retire expert bot
  client/src/pages/createRoom.tsx
  server/crates/core/src/lib.rs
  server/crates/server/src/handlers/api.rs
Due: typescript-check, client-tests, rust-tests

chore: simplify github templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

feat: add sounds
  client/src/components/room/actions.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/hooks/useGame.ts
  client/src/pages/createRoom.tsx
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  client/src/utils/sound.ts
Due: typescript-check, client-tests

feat: add focus mode, setting toggle with few settings
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/confetti.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/ripple.tsx
  client/src/components/room/status.tsx
  client/src/components/settings-modal.tsx
  client/src/hooks/useKeyboardNavigation.ts
  client/src/pages/room.tsx
  client/src/store/index.ts
  client/src/store/settings.ts
  client/src/styles/globals.css
  client/src/utils/sound.ts
Due: typescript-check, client-tests

chore: add dimming to unplayable boards
  client/src/components/room/board.tsx
  client/src/components/room/miniBoard.tsx
Due: typescript-check, client-tests

chore: add settings button for mobile and imorove auto focus
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/hooks/useKeyboardNavigation.ts
  client/src/store/settings.ts
Due: typescript-check, client-tests

ref: adopt axiom for logging
  .github/workflows/deploy.yml
  caddy/Caddyfile
  client/src/main.tsx
  docker-compose.yml
  server/.env.example
  server/Cargo.lock
  server/Cargo.toml
  server/crates/core/src/models/room.rs
  server/crates/server/Cargo.toml
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/main.rs
  server/crates/server/src/utils.rs
  server/crates/server/src/utils/messages.rs
  server/crates/server/src/utils/otel.rs
  server/crates/server/src/utils/real_ip.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Due: typescript-check, client-tests, rust-tests

add missing import and remove unused
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/utils/messages.rs
Due: rust-tests

adopt axiom for logging
  .github/workflows/deploy.yml
  caddy/Caddyfile
  client/src/main.tsx
  docker-compose.yml
  server/.env.example
  server/Cargo.lock
  server/Cargo.toml
  server/crates/core/src/models/room.rs
  server/crates/server/Cargo.toml
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/main.rs
  server/crates/server/src/utils.rs
  server/crates/server/src/utils/messages.rs
  server/crates/server/src/utils/otel.rs
  server/crates/server/src/utils/real_ip.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Due: typescript-check, client-tests, rust-tests

fix: remove duplicate player_leaving log, restore Tab navigation
  client/src/hooks/useKeyboardNavigation.ts
  server/crates/services/src/room_service.rs
Due: typescript-check, client-tests, rust-tests

fix: won miniBoards always render at full opacity regardless of focus mode
  client/src/components/room/miniBoard.tsx
Due: typescript-check, client-tests

ignore tyivy err for now
  .trivyignore
Due: none

fix server end problem
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

change deploy dir
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

hot fix
  scripts/deploy.sh
Due: none

better instructions page
  client/src/components/instructions/AutoPlayDemo.tsx
  client/src/components/instructions/BackAndForthDemo.tsx
  client/src/components/instructions/index.ts
  client/src/components/instructions/shared.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/miniBoard.tsx
  client/src/hooks/useScrollDirection.ts
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/utils/sound.ts
Due: typescript-check, client-tests

add draw mini-board status
  client/src/components/icons.tsx
  client/src/components/room/miniBoard.tsx
  client/src/data/board-states.json
  client/src/pages/instructions.tsx
Due: typescript-check, client-tests

add draw mini-board status
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/styles/globals.css
  client/src/utils/sound.ts
Due: typescript-check, client-tests

improved instructions page
  client/src/hooks/useScrollSpy.ts
  client/src/pages/instructions.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

make closed sub-boards visible on hover
  client/src/components/room/miniBoard.tsx
Due: typescript-check, client-tests

bump server deps
  server/Cargo.lock
Due: none

add missing dep and update lockfile
  client/package.json
  client/pnpm-lock.yaml
Due: client-tests

remove discord mention
  .github/workflows/build.yml
Due: none

fix canvas not working with caddy
  caddy/Caddyfile
Due: none

use pre-built cargo-chef alpine image, update deps, migrate server to alpine
  .trivyignore
  caddy/Dockerfile
  client/Dockerfile
  client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/Cargo.toml
  server/Dockerfile
Due: client-tests

fix Alpine package name: pkg-config -> pkgconf
  client/pnpm-lock.yaml
  server/Cargo.lock
  server/Dockerfile
Due: client-tests

fix client-builder: run as root for volume write access
  docker-compose.yml
Due: none

update license to GNU GPLv3
  LICENSE
Due: none

fix: SEO - per-route prerendering, sitemap dedupe, 404 handling, noindex rooms
  caddy/Caddyfile
  client/package.json
  client/pnpm-lock.yaml
  client/src/App.tsx
  client/src/hooks/usePageMeta.ts
  client/src/pages/instructions.tsx
  client/src/pages/notFound.tsx
  client/src/pages/room.tsx
  client/vite.config.ts
Due: typescript-check, client-tests

feat: implement Cloudflare Pages middleware and worker proxy for API and WebSocket traffic
  client/functions/_middleware.js
  client/public/_worker.js
  client/wrangler.json
Due: client-tests

chore: update worker path to dist directory, add default backend URL, and ignore worker file in assets
  client/public/.assetsignore
  client/public/_worker.js
  client/wrangler.json
Due: client-tests

feat: inject X-Forwarded-For and X-Real-IP headers into proxied WebSocket requests
  client/functions/_middleware.js
  client/public/_worker.js
Due: client-tests

chore: deps updates
  client/package.json
  client/pnpm-lock.yaml
  server/Cargo.lock
Due: client-tests
