Repository open-syntax/ultimatexo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, client-tests, rust-tests

typescript-check:
  name: TypeScript Check (client)
  entry: bash -c 'cd client && pnpm run type-check'
  language: system
  pass_filenames: false

client-tests:
  name: Run Client Tests
  entry: bash -c 'cd client && pnpm run test --run 2>/dev/null || echo "No tests configured"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

rust-tests:
  name: Run Rust Tests
  entry: bash -c 'cd server && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

updating board images
  client/public/board-light.png
  client/public/board.png
Due: client-tests

feat: Implement player reconnection and theme-aware assets
  README.md
  client/public/board-dark.png
  client/public/board-light.png
  client/public/board.png
  client/src/components/theme-switch.tsx
  client/src/hooks/useGame.ts
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  client/src/store/player.ts
  client/src/types/actions.ts
Due: typescript-check, client-tests

fix: Update Ko-Fi links to reflect new sponsorship account
  .github/FUNDING.yml
  Caddyfile
  README.md
  client/src/config/site.ts
Due: typescript-check, client-tests

test
  server/.env.example
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/tasks.rs
Due: rust-tests

Using SVG instead of PNG for README board img
  README.md
  client/public/board-dark.png
  client/public/board-light.png
  client/public/board.svg
Due: client-tests

chore(ci/caddy): add Caddy image build and retention, +Dockerfile
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  caddy/Caddyfile
  caddy/Dockerfile
  client/Dockerfile
  docker-compose.yml
Due: client-tests

fix: fixed few warnings and errors
  .pre-commit-config.yaml
  caddy/Caddyfile
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Due: client-tests

hot fix
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  caddy/Caddyfile
  caddy/Dockerfile
  server/crates/server/src/handlers/tasks.rs
Due: rust-tests

caddy hot fix
  caddy/Dockerfile
  docker-compose.yml
Due: none

Update caddy/Dockerfile
  caddy/Dockerfile
Due: none

Update server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/tasks.rs
Due: rust-tests

fmt: fix cargo fmt
  server/crates/server/src/handlers/tasks.rs
Due: rust-tests

fix: fixed some errors in Dockerfile and simplified docker-compose for better performance
  .pre-commit-config.yaml
  caddy/Dockerfile
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Due: client-tests

docs: update README
  .markdownlint.json
  README.md
Due: none

added board to insturactions page
  client/src/components/room/actions.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
Due: typescript-check, client-tests

refactor(server): refine room cleanup, reconnection and rules
  server/.env.example
  server/Cargo.lock
  server/crates/core/src/domain/bot_room_rules.rs
  server/crates/core/src/domain/local_room_rules.rs
  server/crates/core/src/domain/room_rules.rs
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/core/src/models/messages.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/app/server.rs
  server/crates/server/src/app/state.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/doc.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/Cargo.toml
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Due: rust-tests

fix(server): fix errors and improve code workflow
  server/.env.example
  server/Cargo.lock
  server/crates/ai/Cargo.toml
  server/crates/ai/src/minimax.rs
  server/crates/core/src/domain/bot_room_rules.rs
  server/crates/core/src/domain/game.rs
  server/crates/core/src/domain/local_room_rules.rs
  server/crates/core/src/domain/room_rules.rs
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/game_ai_service.rs
  server/crates/services/src/room_service.rs
Due: rust-tests

feat: added to caddy and docker-compose to dependabot
  .github/dependabot.yml
Due: none

feat: add burno collection for api testing
  bruno/Check server Health.bru
  bruno/Create a new Room.bru
  bruno/Get Room.bru
  bruno/Get Rooms.bru
  bruno/Websocket 1.bru
  bruno/Websocket 2.bru
  bruno/Websocket 3.bru
  bruno/bruno.json
  bruno/collection.bru
  bruno/environments/Local.bru
Due: none

refactor(ai): add new ai that plays more like a human and less robust to impove the overall experience
  server/crates/ai/src/lib.rs
  server/crates/ai/src/minimax.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/src/game_ai_service.rs
Due: rust-tests

fix: fix cleanup workflow err
  .github/workflows/cleanup.yml
Due: none

fix(ci/cd): fix workflow errors
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

chore(ci): update cleanup workflow
  .github/workflows/cleanup.yml
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Due: none

chore(ci): update deploy workflow
  .github/workflows/deploy.yml
Due: none

feat: add CHANGELOG for v0.1.0 initial release
  CHANGELOG.md
Due: none

update deploy and cleanup workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Due: none

chore(server): update bruno and improve get_rooms logic
  bruno/Check server Health.bru
  bruno/Create a new Room.bru
  bruno/Get Room.bru
  bruno/Get Rooms.bru
  bruno/Websocket 1.bru
  bruno/Websocket 2.bru
  bruno/Websocket 3.bru
  bruno/environments/Local.bru
  server/crates/server/src/app/state.rs
  server/crates/services/src/room_service.rs
Due: rust-tests

fix style issues after migrating to tailwind v4
  client/package.json
  client/pnpm-lock.yaml
  client/postcss.config.js
  client/src/hero.ts
  client/src/styles/globals.css
  client/tailwind.config.js
  client/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: typescript-check, client-tests

chore: refactore Home Screen
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/theme-switch.tsx
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

refactor: improve home screen code quality
  client/src/components/home-button.tsx
  client/src/components/navbar.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/pages/index.tsx
Due: typescript-check, client-tests

Update client/src/components/ui/tooltip-icon.tsx
  client/src/components/ui/tooltip-icon.tsx
Due: typescript-check, client-tests

fix rng err
  server/crates/ai/src/lib.rs
  server/crates/core/src/models/room.rs
  server/crates/services/src/room_service.rs
Due: rust-tests

bump deps
  server/Cargo.lock
  server/Cargo.toml
Due: none

Path conditions:
  typescript-check: any of: ^client/.*\.(ts|tsx)$
  client-tests: any of: ^client/
  rust-tests: any of: ^server/.*\.rs$
