Repository open-syntax/ultimatexo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, client-tests, rust-tests

typescript-check:
  name: TypeScript Check (client)
  entry: bash -c 'cd client && pnpm run type-check'
  language: system
  pass_filenames: false

client-tests:
  name: Run Client Tests
  entry: bash -c 'cd client && pnpm run test --run 2>/dev/null || echo "No tests configured"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

rust-tests:
  name: Run Rust Tests
  entry: bash -c 'cd server && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

update quic-go for caddy
  caddy/Dockerfile
Due: none

remove unused deps
  server/Cargo.lock
  server/Cargo.toml
  server/crates/ai/Cargo.toml
  server/crates/server/Cargo.toml
Due: none

remove unused deps
  server/Cargo.lock
  server/Cargo.toml
  server/crates/ai/Cargo.toml
Due: none

restore tower_governor
  server/Cargo.lock
  server/Cargo.toml
  server/crates/server/Cargo.toml
Due: none

refactor instructions page
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/status.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  server/crates/core/src/error.rs
  server/crates/core/src/models/room.rs
Due: typescript-check, client-tests, rust-tests

refactor create-room and rooms pages
  client/src/components/roomCard.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/instructions.tsx
  client/src/pages/rooms.tsx
Due: typescript-check, client-tests

refactor main game page
  client/src/components/room/actions.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/layouts/default.tsx
  client/src/pages/room.tsx
Due: typescript-check, client-tests

add missing lib
  client/package.json
  client/pnpm-lock.yaml
Due: client-tests

bump client deps
  client/package.json
  client/pnpm-lock.yaml
Due: client-tests

fix client build error
  client/vite.config.ts
Due: typescript-check, client-tests

route navbar links to opensyntax.dev
  client/public/opensyntax.svg
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/config/site.ts
Due: typescript-check, client-tests

fix room card, add better animations for loading and better handling for password rooms
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/chat.tsx
  client/src/components/roomCard.tsx
  client/src/hooks/useGame.ts
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/src/styles/globals.css
  client/src/types/index.ts
Due: typescript-check, client-tests

update logo, footer and background
  client/favicon.svg
  client/src/App.tsx
  client/src/components/background-effects.tsx
  client/src/components/footer.tsx
  client/src/components/home-button.tsx
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/rooms.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

fix hidden logo
  client/public/favicon.svg
  client/src/components/footer.tsx
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
Due: typescript-check, client-tests

enable scroll for home page
  client/src/pages/index.tsx
Due: typescript-check, client-tests

refactor ci pipeline
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .opencode/plans/cicd-rewrite.md
  caddy/Dockerfile
  client/Dockerfile
  client/nginx.conf
  docker-compose.yml
  scripts/deploy.sh
  server/Dockerfile
Due: client-tests

fix cargo fmt err
  .github/workflows/ci.yml
Due: none

use latest rust img for cargo chef
  server/Dockerfile
Due: none

fix cargo chef build err
  server/Dockerfile
Due: none

add permission for ci to run build action
  .github/workflows/ci.yml
Due: none

improve seo
  client/index.html
  client/public/og-image.png
  client/public/robots.txt
  client/src/hooks/usePageMeta.ts
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/vite.config.ts
Due: typescript-check, client-tests

code cleanup and quality improvements
  client/src/App.tsx
  client/src/components/icons.tsx
  client/src/components/primitives.ts
  client/src/components/room/actions.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/components/theme-switch.tsx
  client/src/config/site.ts
  client/src/functions/game.ts
  client/src/hooks/useGame.ts
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/src/store/game.ts
  client/src/store/room.ts
  client/src/styles/globals.css
  client/src/types/index.ts
  client/src/types/messages.ts
  client/src/types/player.ts
Due: typescript-check, client-tests

add connect timeout to disconnecting player event
  server/crates/core/src/models/messages.rs
  server/crates/services/src/room_service.rs
Due: rust-tests

update player disconnect handling
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
  client/src/types/index.ts
Due: typescript-check, client-tests

fix pong serialization
  client/src/hooks/useGame.ts
Due: typescript-check, client-tests

feat: make room code 6 digits
  server/crates/services/src/room_service.rs
Due: rust-tests

refactor: re-style next_board design
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/pages/quick.tsx
  client/src/store/game.ts
Due: typescript-check, client-tests

room join QoL improvements
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
Due: typescript-check, client-tests

fix local room not working and winner popup improvements
  client/src/components/room/status.tsx
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
Due: typescript-check, client-tests

fix /rooms being cached
  client/src/pages/rooms.tsx
  server/crates/server/src/handlers/api.rs
Due: typescript-check, client-tests, rust-tests

improve mobile accessibility and add favicon fallback
  client/index.html
  client/public/favicon.png
  client/public/og-image.png
Due: client-tests

trying to fix a scaling issue for a friend
  client/index.html
  client/public/manifest.json
  client/src/components/room/board.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/hooks/useWindowSize.ts
  client/src/layouts/default.tsx
  client/src/pages/room.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

improve chat ux
  client/src/components/icons.tsx
  client/src/components/room/chat.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

update og image
  client/public/og-image.png
Due: client-tests

replace images with critical CVEs
  .github/workflows/build.yml
  caddy/Dockerfile
  client/Dockerfile
  server/Dockerfile
Due: client-tests

bump actions and add .trivyignore
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .trivyignore
Due: none

revert to action-setup@v5
  .github/workflows/ci.yml
Due: none

bump checkout to v6 to auto detect .trivyignore
  .github/workflows/build.yml
Due: none

apply workflow fixes
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  caddy/Dockerfile
  client/Dockerfile
  scripts/deploy.sh
  server/Dockerfile
Due: client-tests

fix --if-present
  .github/workflows/ci.yml
Due: none

Path conditions:
  typescript-check: any of: ^client/.*\.(ts|tsx)$
  client-tests: any of: ^client/
  rust-tests: any of: ^server/.*\.rs$
