Repository open-syntax/ultimatexo: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, client-tests, rust-tests

.pre-commit-config.yaml:

# Pre-commit hooks for UltimateXO
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe'] # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Rust formatting and linting
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust Format (server)
        args: ['--manifest-path', 'server/Cargo.toml', '--']
      - id: clippy
        name: Rust Clippy (server)
        args: ['--manifest-path', 'server/Cargo.toml', '--', '-D', 'warnings']

  # JavaScript/TypeScript for client
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Prettier (client)
        files: ^client/
        types_or: [javascript, jsx, ts, tsx, json, css, scss, html]

  # Additional security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: pnpm-lock.yaml

  # Docker
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        name: Lint Dockerfiles

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--fix']

# Custom local hooks
  - repo: local
    hooks:
      # TypeScript type check
      - id: typescript-check
        name: TypeScript Check (client)
        entry: bash -c 'cd client && pnpm run type-check'
        language: system
        files: ^client/.*\.(ts|tsx)$
        pass_filenames: false

      # Client tests (if they exist)
      - id: client-tests
        name: Run Client Tests
        entry: bash -c 'cd client && pnpm run test --run 2>/dev/null || echo "No tests configured"'
        language: system
        files: ^client/
        pass_filenames: false
        stages: [pre-push] # Only on push, not commit

      # Rust tests
      - id: rust-tests
        name: Run Rust Tests
        entry: bash -c 'cd server && cargo test'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false
        stages: [pre-push] # Only on push, not commit

# Configuration
default_stages: [pre-commit]
fail_fast: false

hot fix
  .github/workflows/ci.yml
  client/package.json
  client/pnpm-workspace.yaml
Due: client-tests

chore(ci): remove explicit multi-platform targets from docker builds
  .github/workflows/build.yml
Due: none

chore(site): update project links, copyright, and security doc
  LICENSE
  README.md
  SECURITY.md
  client/src/config/site.ts
  client/src/layouts/default.tsx
Due: typescript-check, client-tests

docs: add GNU Affero GPL v3 full text to LICENSE
  LICENSE
Due: none

docs: add Ko-fi funding link
  .github/FUNDING.yml
Due: none

feat: add vite-sitemap plugin and configuration for sitemap generation
  client/package.json
  client/pnpm-lock.yaml
  client/pnpm-workspace.yaml
  client/vite.config.ts
Due: typescript-check, client-tests

refactor: simplify modal management by removing unused props and using state for open modals
  client/src/components/room/status.tsx
Due: typescript-check, client-tests

docs: update README with badges, infra, and setup
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: none

feat(server): refactor startup, add config, logging, and rate limiting
  server/Cargo.lock
  server/Cargo.toml
  server/src/app/server.rs
  server/src/handlers/websocket.rs
  server/src/utils.rs
Due: rust-tests

chore(client): switch websocket proxy to /ws and use hostname
  client/.env.dev
  client/src/pages/room.tsx
  client/vite.config.ts
Due: typescript-check, client-tests

fix(dev): run server with cargo instead of bacon
  justfile
Due: none

chore: clean up YAML/README formatting and add setup justfile
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  justfile
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
  server/src/app/server.rs
  server/src/utils.rs
Due: rust-tests

feat(server): restructure startup, add config and rate limiter
  server/Cargo.lock
  server/Cargo.toml
  server/src/app/server.rs
  server/src/handlers/websocket.rs
  server/src/utils.rs
Due: rust-tests

fix(ws): correct websocket endpoint and dev env host
  client/.env.dev
  client/src/pages/room.tsx
  client/vite.config.ts
Due: typescript-check, client-tests

feat: add security policy and enhance justfile setup
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  justfile
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Due: none

docs: add Open Syntax Discord
  README.md
Due: none

feat(actions): disables game actions when in local/bot room
  client/src/components/room/actions.tsx
  client/src/pages/room.tsx
Due: typescript-check, client-tests

refactor: sort props
  client/src/components/room/status.tsx
Due: typescript-check, client-tests

fix: inputs' outline issue, and classes replaced
  client/src/layouts/default.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

hot fix
  client/Dockerfile
  server/src/domain/game.rs
Due: client-tests, rust-tests

testing new routing
  Caddyfile
  client/Dockerfile
  client/nginx.conf
  client/src/styles/globals.css
  client/vite.config.ts
  docker-compose.yml
  justfile
  server/Dockerfile
  server/src/app/server.rs
Due: typescript-check, client-tests, rust-tests

minor fixes and ux enhanced
  client/src/components/room/actions.tsx
Due: typescript-check, client-tests

last_move's border highlighted
  client/src/components/room/cell.tsx
Due: typescript-check, client-tests

feat(server,client): nest websocket route; modernize Dockerfiles
  Caddyfile
  client/Dockerfile
  client/nginx.conf
  client/src/styles/globals.css
  client/vite.config.ts
  docker-compose.yml
  justfile
  server/Dockerfile
  server/src/app/server.rs
Due: typescript-check, client-tests, rust-tests

fix(model): fix clippy warning
  server/src/models/game.rs
Due: rust-tests

Update docker-compose.yml
  docker-compose.yml
Due: none

Update client/Dockerfile
  client/Dockerfile
Due: client-tests

Update client/nginx.conf
  client/nginx.conf
Due: client-tests

Update client/vite.config.ts
  client/vite.config.ts
Due: typescript-check, client-tests

redesign and improve chat layout and messages
  client/src/components/room/board.tsx
  client/src/components/room/chat.tsx
  client/src/pages/room.tsx
  client/src/styles/globals.css
Due: typescript-check, client-tests

chore(deps): update client dependencies
  client/package.json
  client/pnpm-lock.yaml
  client/pnpm-workspace.yaml
Due: client-tests

minor fix
  client/src/pages/quick.tsx
Due: typescript-check, client-tests

fix: password input appears after creating a protected room, quick join now doesn't get a protected room.
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
Due: typescript-check, client-tests

Update client/package.json
  client/package.json
Due: client-tests

Update client/pnpm-lock.yaml
  client/pnpm-lock.yaml
Due: client-tests

update last move highlighting
  client/src/components/room/cell.tsx
Due: typescript-check, client-tests

update last move highlighting (#53)
  client/src/components/room/cell.tsx
Due: typescript-check, client-tests
